@model ORES.ViewModels.GroupMemberViewModel

@{
    ViewBag.Title = "AddGroupMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Group Members</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add Group Member
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm())
                            {
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Select")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Username")
                                        </th>
                                        <th>
                                            @Html.DisplayName("First Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Last Name")
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.UserList)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="userIdList" id="userIdList" value="@item.UsersId"/>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UsersName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                        </tr>
                                    }
                                    @Html.HiddenFor(model => model.GroupId)
                                </table>
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add Member(s)" class="btn btn-default" />
                                </div>
                            }

                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
