<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="../../Content/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../../Content/dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="../../Content/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Online Resource Evaluation System</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("UserProfile", "User")"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangePassword", "User")"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account")"> <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        @if (Roles.IsUserInRole("Admin"))
                        {
                            <li>
                                <a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-cog"></span> User and Roles Rights<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Users Management", "Index", "User")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Roles Management", "Index", "Role")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Forms Management", "Index", "Form")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Groups Management", "Index", "Group")
                                    </li>
                                    <li>
                                        <a href="fetch_users.html">Fetch Users</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Group Member Management", "Index", "GroupMember")
                                    </li>
                                    <li>
                                        <a href="role_rights_management.html">Role Rights Management</a>
                                    </li>

                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-wrench"></span> Evaluation Form Configuration<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("Evaluation Form Management", "Index", "Evaluation")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Questions Management", "Index", "Question")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Answer Types  Management", "Index", "AnswerType")
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="email_scheduling.html"><span class="glyphicon glyphicon-envelope"></span> Email Scheduling</a>
                            </li>
                        }
                        @if (Roles.IsUserInRole("Admin")|| Roles.IsUserInRole("QA"))
                        {
                            <li>
                                <a href="reporting.html"><span class="glyphicon glyphicon-print"></span> Reporting</a>
                            </li>
                        }
                        @if (Roles.IsUserInRole("User"))
                        {
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-calendar"></span> Pending Evaluations</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-time"></span> History</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("About", "Home")"> <span class="glyphicon glyphicon-eye-open"></span> About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        @RenderBody()
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../../Content/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../Content/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../Content/bower_components/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../Content/dist/js/sb-admin-2.js" type="text/javascript"></script>
</body>
</html>
